@import "tailwindcss";

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-date-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.hide-time-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
}
